PyYAML
rich
langchain
langchain-text-splitters
langchain-community
langchain-anthropic
langchain-ollama
langchain-openai
langchain-pinecone
langchain-tavily
faiss-cpu
pinecone
rank_bm25
sentence-transformers
python-dotenv
redis
